@layer components {
    input[type='date'][is-~='date-picker'],
    input[type='month'][is-~='date-picker'],
    input[type='time'][is-~='date-picker'],
    input[type='week'][is-~='date-picker'],
    input[type='datetime-local'][is-~='date-picker'],
    [is-~='date-picker'] > input {
        padding: 0.5rem 0.75rem;
        min-height: 2.25rem;
        background-color: hsl(var(--smui-surface-1));
        color: var(--foreground);
        font-family: var(--font-family);
        border: 1px solid hsl(var(--smui-border));
        outline: none;
        cursor: pointer;

        &::-webkit-calendar-picker-indicator {
            filter: invert(0.7);
            cursor: pointer;
        }

        &:focus-visible {
            border-color: var(--primary);
            box-shadow: 0 0 0 1px var(--primary);
        }
    }
}
