@layer components {
    input[type='checkbox']:not([is-='switch']) {
        appearance: none;
        -webkit-appearance: none;
        display: inline-block;
        width: 18px;
        height: 18px;
        background-color: var(--secondary-bg);
        border: 1px solid;
        border-color: var(--border-dark) var(--border-light)
            var(--border-light) var(--border-dark);
        position: relative;
        vertical-align: middle;
        cursor: pointer;

        &:checked::after {
            content: '';
            position: absolute;
            top: 2px;
            left: 5px;
            width: 4px;
            height: 9px;
            border: solid var(--accent);
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

        &:focus-visible {
            outline: 1px solid var(--accent);
            outline-offset: 1px;
        }

        &:disabled {
            background-color: var(--bg);
            pointer-events: none;
        }
    }

    label:has(input[type='checkbox']) {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
    }
}
