@layer components {
    [is-~='field'] {
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-family: var(--font-family);

        & > [is-~='field-label'],
        & > label {
            color: var(--text);
            font-weight: var(--font-weight-bold);
            text-transform: uppercase;
            font-size: calc(var(--font-size) * 0.875);
            letter-spacing: 0.05em;
        }

        & > input,
        & > textarea,
        & > select {
            width: 100%;
            min-width: 0;
        }

        & > [is-~='field-description'] {
            color: var(--text-3);
            font-size: calc(var(--font-size) * 0.875);
        }

        & > [is-~='field-error'] {
            color: var(--destructive);
            font-size: calc(var(--font-size) * 0.875);
        }
    }
}
