@layer components {
    pre,
    [is-~='pre'] {
        display: block;
        padding: 10px 14px;
        background-color: var(--bg);
        color: var(--text);
        font-family: var(--font-family);
        font-size: var(--font-size);
        line-height: 1.5;
        white-space: pre-wrap;
        border: 1px solid;
        border-color: var(--border-dark) var(--border-light)
            var(--border-light) var(--border-dark);
        overflow: auto;
    }

    code {
        font-family: var(--font-family);
        background-color: var(--secondary-bg);
        padding: 0 4px;
        color: var(--accent);
    }
}
