@layer components {
    button[is-~='toggle'],
    [is-~='toggle'] {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 4px 10px;
        min-height: 24px;
        background-color: var(--bg);
        color: var(--text);
        font-family: var(--font-family);
        font-size: var(--font-size);
        border: 1px solid;
        border-color: var(--border-light) var(--border-dark)
            var(--border-dark) var(--border-light);
        cursor: pointer;

        &:hover {
            color: var(--accent);
        }

        &[aria-pressed='true'],
        &[data-state='on'],
        &:checked {
            background-color: var(--accent);
            color: var(--primary-foreground);
            border-color: var(--border-dark) var(--border-light)
                var(--border-light) var(--border-dark);
        }

        &:disabled {
            color: var(--disabled-text);
            pointer-events: none;
        }
    }
}
